.titles {
  display: flex;
  justify-content: space-around;
}

.titles h4 {
  margin-bottom: 0;
  font-size: 1rem;
}

.time-picker {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 3.6rem;
}

.time-section {
  flex: 1;
  text-align: center;
}

.option {
  text-align: center;
  color: #efecec36;
}

.selected {
  text-align: center;
}
